[Unit]
Description=FlashMQ MQTT server
After=network.target

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=infinity
ExecStart=/usr/bin/flashmq --config-file /etc/flashmq/flashmq.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
