name: Building
on: [push]
jobs:
  compilation:
    strategy:
      matrix:
        include:
          - os: ubuntu-22.04
            friendly: clang
            CXX: /usr/bin/clang++
            aptpkg: clang
          - os: ubuntu-22.04
            friendly: gcc
            CXX: /usr/bin/g++
            aptpkg: build-essential
          - os: ubuntu-20.04
            friendly: clang
            CXX: /usr/bin/clang++
            aptpkg: clang
          - os: ubuntu-20.04
            friendly: gcc
            CXX: /usr/bin/g++
            aptpkg: build-essential
    runs-on: ${{ matrix.os }}
    name: "${{ matrix.os }}: ${{ matrix.friendly }}"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - run: sudo apt update
      # Build prerequisites
      - run: sudo apt install -y xsltproc
      - run: sudo apt install -y cmake libssl-dev libcurl4-openssl-dev ${{ matrix.aptpkg }}
      # Build example plugin(s)
      - run: CXX="${{ matrix.CXX }}" ./examples/plugin_libcurl/build.sh "Release"
      # Building
      - run: CXX="${{ matrix.CXX }}" ./build.sh "Release"
      # Testing build results
      - run: ./FlashMQBuildRelease/flashmq --version
      - run: sudo dpkg -i ./FlashMQBuildRelease/*.deb
