name: Linting
on: [push]
jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - run: sudo apt install -y shellcheck
      - run: shellcheck debian/post* debian/pre*
      - run: find . -type f -iname '*.sh' -exec shellcheck '{}' '+'
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - run: sudo snap install mdl
        # Exclude MD013: line-length. If it looks good to the dev editing the Markdown file it's good enough for us
      - run: find . -type f -iname '*.md' -exec mdl --rules "~MD013" '{}' '+'
